.title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}
.title b{
    margin-left: 0px;
}

.search-box{
    border-radius: 24px;
    height: 44px;
    width: auto;
    margin: 0 auto;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    min-width: 320px;

}
input:focus{
    outline: none;
}
body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}