body{
    font-family: 'Nunito Sans';
    margin:0;
}
.movie-container{
    padding:20px;
}
.movie-title{
    font-family: 'Nunito Sans';
    font-size: 35px;
}
.movie-details span{
    padding-right: 7px;
}
.movie-plot{
    width: 70%;
    padding:20px 0 10px 0 ;
}
.table-value {
    color:#79b8f3;
    padding-left: 15px 
}
.movie-poster img{
    height: 310px;
    position: absolute;
    z-index: 2;
    right:0;
    top:20%;
    max-height: 310px;
    padding-right:30px;
}

.header-title{
    display: flex;
}


@media (max-width:375px){
    .movie-container{
        padding:10px;
    }
    .movie-title{
        font-family: 'Nunito Sans';
        font-size: 25px;
    }
    .movie-details span{
        padding-right: 3px;
    }
    .movie-plot{
        width: 55%;
        padding:20px 0 10px 0 ;
    }
    .movie-poster img{
        height: 175px;
        position: absolute;
        right:0;
        top:25%;
        max-height: 175px;
        padding-right:15px;
    }
}
